:root {
    --links-color:#fffffffa;
    --font-roboto: 'Roboto Mono', monospace;
    --font-code: 'Source Code Pro', monospace;
    --font-raleway: 'Raleway', sans-serif;
    --zoom-transform:  scale(1.5);
    --neon-shadow: 0 0 7px rgb(76, 61, 49),
                   0 0 9px rgba(191, 128, 76, 0.878),
                   0 0 12px rgb(167, 151, 132);
    --heliotrope: #ba7846;
}
body {
    background-color: rgba(34, 34, 34, 0.967) !important;
    color: #fff !important;
}
h1, h2 {
    font-family: var(--font-roboto) !important;
}
h3,h4,h5,a {
    font-family: var(--font-code) !important;
}
p, li {
    font-family: var(--font-raleway) !important;
}
h1 {
    font-size: 350%;
}

h2 {
    font-size: 280%;
}
h3 {
    font-size: 200%;   
}
h4 {
    font-size: 160%;
}
p {
    font-size: 120%;
    line-height: 25px;
}
a {
    font-size: 100%;
    text-decoration: none;
}
li {
    color: rgb(190, 186, 186);
    font-size: 130%;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      box-shadow:
        0 0 4px #fff,
        0 0 6px rgb(255, 232, 201),
        0 0 8px rgb(249, 222, 193),
        0 0 14px #e6d1ac,
        0 0 15px #ddb886,
        0 0 19px #c6a077,
        0 0 30px #99714b,
        0 0 40px #664229;
    }
    20%, 24%, 55% {       
      box-shadow: none;
    }
  }
.section-title {
    text-align: center;
    text-transform: uppercase;
}

/* Navbar */
.navbar {
    font-family: var(--font-code);
    background-color: #222;
}
.navbar-toggler i {
    color: #fff;
}
.navbar-dark .navbar-toggler {
    border: none;
}
.links ul {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
.links a:hover {
    text-shadow: var(--neon-shadow);
}

.navbar img {
    width: 300px;
}
/* Banner */
.hero {
    margin: 0;
    width: 100%;
    height: 80vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero video {
    position: absolute;
    left: auto;
    height: 90%;
    width: 100%;
    top: 0;
    z-index: -1;
    object-fit: cover;
}
.jumbotron {
    color: #fff;
    position: relative;
    background-color: rgba(34, 34, 34, 0.742) !important;
    display: flex;
    gap: 20px;
}
.showcase {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    text-align: center;
}
.showcase h1 {
    font-weight: 700;
}
.jumbotron img {
    width: 31%;
    height: 78%;
    border-radius: 50%;
}
@media (max-width: 768px) {
    .hero {
        height: 110vh;
    }
    .jumbotron img {
        border-radius: 10px;
        width: 45%;
        height: 30%;
        margin-bottom: 10px;
    }
    .jumbotron {
        flex-direction: column-reverse;
        gap: 15px;
        align-items: center;
        justify-content: center;
        width: 80%;
        padding: 30px 10px 10px 10px !important;
    }
}
/* Projects */
.row {
    gap: 25px;
    margin-top: 30px;
}
.card {
    background-color: transparent !important;
    border: 1px solid #fff !important;
}
.card img {
    padding: 20px 10px 10px 20px;
    height: 70%;
    object-fit: cover;
    border-radius: 5px;
}
div .card-body {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-text {
    text-align: center;
}
.card-title {
    text-transform: capitalize;
    font-weight: 700;
}
